/* generic / global */

hr {
  border-top-color: black;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
}
 
h5 {
  font-weight: bold;
}

.marginTop-0 {
  margin-top: 0px;
}

.pdfDocument {
  position: relative;
  height: 0;
  width: 75%;
  padding-bottom: 50%;
}

.pdfDocument object{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Site specific */

html {
  background: #007F14;
}

#mainBody {
  background: #007F14;
}

/* Header */
#logo {
  width: 16.66%;
  min-width: 60px;
}
 
#logo img {
  min-width: 60px;
  max-width: 138px;
  width: 100%;
  height: auto;
  vertical-align: middle;
}
 
#title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 5vw;
  color: black;
  vertical-align: middle;
  width: 66.68%;
}

#bannerSection {
  width:16.66%;
  padding-bottom: 0px;
}

#mainContent {
  padding: 10px 0px;
}

#sponsors {
  background: #EEFFE8;
  padding: 0px;
  text-align: center;
  width: 15%;
}

#sponsors h1 {
  font-size: 3vw;
  font-weight: bold;
  margin-bottom: 0px;
}

#sponsors ul {
  padding-left: 0px;
  margin: 0px;
}

#sponsors li {
  list-style-type: none;
}

#sponsors li img {
  padding: 14px;
  min-width: 100px;
}

#footer {
  color: white;
  background-color: #404040;
}

#connectWithUs {
  width:16.66%;
}

#socialMediaNav {
  padding-left: 5px;
}

#socialMediaNav li {
  list-style-type: none;
  float: left;
  padding: 0px 5px;
}

#socialMediaNav li a img {
  max-width: 40px;
  max-height: 40px;
  padding: 0px;
} 
 
#footerSpace {
  width: 66.68%;
}

#schoolInfo {
  padding: 10px;
  width:16.66%;
}

#schoolInfo a img {
  max-width: 270px;
  min-width: 130px;
  width: 100%;
  height: auto;
  max-height: 90px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

.active {
  color: white;
}

.topnav .icon {
  display: none;
  padding: 8px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

@media screen and (max-width: 600px) {
  /* For mobile phones: */
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  #sponsors {
    width: 10%;
  }
  #sponsors li img {
    padding: 8px;
    min-width: 100px;
  }
  #sponsors h1 {
    font-size: 4vw;
  }  
}