<link rel="stylesheet" type="text/css" href="/css/tabs.css">

<div class="w3-container tabContainer">
  <div class="w3-cell-row">
    <div class="w3-cell w3-left">
      <p class="tabHeader" id="aboutHeader"></p>
    </div>
    <div class="w3-cell w3-right">
      <div class="w3-bar" id="aboutTabs">
        <a href="/team.html" class="w3-bar-item w3-button w3-border w3-border-gray tabButton">The Team</a>
        <a href="/leaders.html" class="w3-bar-item w3-button w3-border w3-border-gray tabButton">Student Leaders</a>
      </div>
    </div>
  </div>
  <hr>
</div>