<link rel="stylesheet" type="text/css" href="/css/tabs.css">

<div class="w3-container tabContainer">
  <div class="w3-cell-row">
    <div class="w3-cell w3-left">
      <p class="tabHeader" id="mediaHeader"></p>
    </div>
    <div class="w3-cell w3-right">
      <div class="w3-bar" id="mediaTabs">
        <a href="/photos.html" class="w3-bar-item w3-button w3-border w3-border-gray tabButton">Photos</a>
        <a href="/videos.html" class="w3-bar-item w3-button w3-border w3-border-gray tabButton">Videos</a>
        <a href="/publicity.html" class="w3-bar-item w3-button w3-border w3-border-gray tabButton">Publicity</a>
      </div>
    </div>
  </div>
  <hr>
</div>