  
<nav class="navbar navbar-default" id="membersNavbar">
  <div class="container-fluid">
    <div class="havbar-header" id="membersPageHeader">
      <a class="navbar-brand" id="membersHeader"></a>
    </div>
    <ul class="nav navbar-nav navbar-right" id="membersNavtab">
      <li><a href="/announcements.html">Announcements</a></li>
      <li><a href="/calendar.html">Calendar</a></li>
      <li><a href="/handbook.html">Handbook</a></li>
      <li><a href="/driveteam.html">Drive Team</a></li>
    </ul>
  </div>
  <hr>
</nav>
