<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"> </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="style sheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="stylesheet" type="text/css" href="/css/banners.css">
  </head>
  <body id="mainBody">
    <div class="w3-cell-row" id="header">
      <div class="w3-cell w3-container" id="logo">
        <img src="/assets/img/PioNerds_logo.png">
      </div>
      <div class="w3-cell w3-container" id="title">PioNerds 4506</div>
      <div class="w3-cell" id="bannerSection">
        <ul class="banners">
          <li><img src="/assets/img/FirstLogo.png">2017 Iowa Regional Champions</li>
        </ul>
      </div>
    </div>
    <div class="w3-bar w3-card-4 w3-black topnav" id="mainNav">
      <a href="/index.html" class="w3-bar-item w3-button w3-black w3-text-grey active">Home</a>
      <div class="w3-dropdown-click w3-black dropdown">
        <button class="w3-button w3-black w3-text-grey dropbtn" onclick="aboutNavClicked()">About <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4 dropdown-content" id="aboutNav">
          <a href="/team.html" class="w3-bar-item w3-button">The Team</a>
          <a href="/leaders.html" class="w3-bar-item w3-button">Student Leaders</a>
        </div>
      </div> 
      <a href="firstrobotics.html" class="w3-bar-item w3-button w3-black w3-text-grey">FRC</a>
      <a href="/firsttechchallenge.html" class="w3-bar-item w3-button w3-black w3-text-grey">FTC</a>
      <a href="/firstlegoleague.html" class="w3-bar-item w3-button w3-black w3-text-grey">FLL</a>
      <div class="w3-dropdown-click w3-black dropdown">
        <button class="w3-button w3-black w3-text-grey dropbtn" onclick="mediaNavClicked()">Media <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4 dropdown-content" id="mediaNav">
          <a href="/photos.html" class="w3-bar-item w3-button">Photos</a>
          <a href="/videos.html" class="w3-bar-item w3-button">Videos</a>
          <a href="/publicity.html" class="w3-bar-item w3-button">Publicity</a>
        </div>
      </div> 
      <a href="/resources.html" class="w3-bar-item w3-button w3-black w3-text-grey">Resources</a>
      <a href="/sponsors.html" class="w3-bar-item w3-button w3-black w3-text-grey">Sponsors</a>
      <div class="w3-dropdown-click w3-black dropdown">
        <button class="w3-button w3-black w3-text-grey dropbtn" onclick="membersNavClicked()">Members <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4 dropdown-content" id="membersNav">
          <a href="/announcements.html" class="w3-bar-item w3-button w3-black w3-text-grey">Announcements</a>
          <a href="/calendar.html" class="w3-bar-item w3-button">Calendar</a>
          <a href="/handbook.html" class="w3-bar-item w3-button">Handbook</a>
          <a href="/driveteam.html" class="w3-bar-item w3-button">Drive Team</a>
        </div>
      </div>    
      <a href="javascript:void(0);" style="font-size:15px;" class="icon w3-text-grey" onclick="barsClicked()"><i class="fa fa-bars"></i></a>
    </div>
    <div class="w3-cell-row">
      <div class="w3-cell w3-container w3-white" id="mainContent">
        {{ content }}
      </div>
      <div class="w3-cell" id="sponsors">
        <h1>Sponsors</h1>
        <div>
          <ul>
            <li><img src="/assets/img/sponsors/3M.png" class="w3-image"></li>
            <li><img src="/assets/img/sponsors/RochefordPlasticSurgery.png" class="w3-image"></li>
            <li><img src="/assets/img/sponsors/SchmelzCountrySide.png" class="w3-image"></li>
            <li><img src="/assets/img/sponsors/API.png" class="w3-image"></li>
            <li><img src="/assets/img/sponsors/ReilingConstruction.png" class="w3-image"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="w3-cell-row" id="footer">
      <div class="w3-cell w3-container" id="connectWithUs">
        <div>Connect With Us</div>
        <div class="socialMedia">
          <ul id="socialMediaNav">
            <li><a href="https://www.facebook.com/Pionerds4506/" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a></li>
            <li><a href="https://twitter.com/hmrobotics4506" target="_blank"><i class="fa fa-2x fa-twitter-square"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCsqC-czEqR8hNiAR6NpQAkg" target="_blank"><i class="fa fa-2x fa-youtube-square"></i></a></li>
          </ul>          
        </div>  
      </div>
      <div class="w3-cell w3-container" id="footerSpace">
      </div>    
      <div class="w3-cell w3-container" id="schoolInfo">
        <a href="http://www.hill-murray.org/" target="_blank"> <img src="/assets/img/Hill-MurrayLogo.png"> </a>
      </div>
    </div>
  </body>
  <script src="/js/navigation.js"> </script>
</html>
